html, body{
	font-size:16px;
	color: #305A30;
	background-color: #92C591; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #92C591;
}

.section-2 {
	background-color: #E8F3E8;
}

.section-3 {
	background-color: #559E54;
}

.section-4 {
	background-color: #0A3409;
	padding: 0.2rem;
}

a.nav-item {
	color: #305A30;
}

a.nav-item:hover {
	color: #fff;
}

.avatar {
	height:200px;
	border-radius: 50%;
}

.intro-description {
	padding-top: 1rem;
}

.social-img {
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	/*text-align: justify;*/
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #0A3409;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}
.mis {
  background-color: #00cc99;
}

.bi {
  background-color: #ffe680;
}

.ds {
  background-color: #ff944d;
}
@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #92C591;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
